.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    background-color: #007bff;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar button {
    background: white;
    color: #007bff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}